<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="scopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.profiles.Client.Payments.ClientPaymentFormActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Client.address.map.ClientAddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Client.address.create.AddressCreateClientActivity"
            android:exported="false"
            android:parentActivityName=".Activities.profiles.Client.address.list.AddressListClientActivity" />
        <activity
            android:name=".Activities.profiles.Client.address.list.AddressListClientActivity"
            android:exported="false"
            android:parentActivityName=".Activities.profiles.Client.ShoppingBag.view.ShoppingBagClientActivity" />
        <activity
            android:name=".Activities.profiles.Client.ShoppingBag.view.ShoppingBagClientActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Client.productDetail.view.ProductDetailClientActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Client.products.view.ProductListClientActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profile.profile_view.view.ClientUpdateActivity"
            android:exported="false"
            android:parentActivityName=".Activities.profiles.Client.Home.view.ClientHomeActivity" />
        <activity
            android:name=".Activities.profile.save_image.view.SaveImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Delivery.home.view.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.profiles.Restaurant.home.view.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.select_roles.view.SelectRolesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.profiles.Client.Home.view.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.register.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Login.LoginView.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgU74JpOD6S1gcYq-iWwtpHb_ElaK3gXg" />
    </application>

</manifest>